$backgroundDarkTheme: #2E2E2E;
$textDarkTheme: #ddd;
$grayLight: #444; 
$yellow: #F4B264;
$red: #EC5051;
$purpleLight: #BEA7C4;
$purple: #B76FD2;
$pink: #F78CB8;
$greenLight: #96D3C4;
$blue: #2F56BD;
$paper: #D6C1C8;
$blueLight: #77BAE5;
$blueDirty: #6586A7;
$redLigth: #F68685;
$green: #62DB86;